
h1, h2, h3 {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	}
	
	h1 {
		font-family: 'Ropa Sans', sans-serif;
	}

ul li {
	background: none;
	padding: 5px;
	color: blue;
	font-size: 1.5em;
	font-style: italic;
	
}

div {
	margin-left: auto;
	margin-right: auto;
	width: 855px;
}



body {
	background-color: light grey;
}

