
h1, h2, h3 {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	}
	
	h1 {
		font-family: 'Ropa Sans', sans-serif;
	}
	


a:link {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: #f2f2f2;
	color: purple;
}



ul li {
	background: none;
	padding: 5px;
	color: blue;
	font-size: 1.5em;
	font-style: italic;
	
}

div {
	margin-left: auto;
	margin-right: auto;
	width: 855px;
}



body {
	background-color: light grey;
}

td {
	font-style: italic;
}

table {
	background-color: #f2f2f2;
}
