
h1, h2, h3 {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	}

ul li {
	background: none;
	padding: 5px;
	color: blue;
	font-size: 1.5em;
	
	
	
}

body {
	background-color: light grey;
}