#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

#welcome {
	width: 500px;
	
}

header {
	height: 120px;
	display: block;
	background-color: orange;
	font-size: 1.0em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-top: 20px;
	margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
	
}



footer {
	height: 120px;
	display: block;
	background-color: orange;
	color: green;
	font-size: 1.5em;
    border-top: 1px solid black;
	border-bottom: 1px solid black;
    padding-bottom: 50px;
    margin-top: 20px; 
	margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
	
	
}

a:link {
	color: black;
}

a:hover {
	background-color: yellow;
}

a: visited {
	color: blue;
}
