#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
padding-left:20px;
}

#welcome {
	width: 500px;
	
}

header {
	height: 120px;
	display: block;
	background-color: orange;
	font-size: 1.0em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-top: 20px;
	margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
	
}

p {
	margin-left: auto;
	padding-left: 2cm;
}

.jumbotron {
	background-image: url("../"img/atlanta_fish_market.jpg");
	background-size: cover;
	height: 100%;
	}

h1 {
	font-family: 'Almendra', serif;
}

h2 {
	font-size: 1.50em;
}

label {
  margin-right:0.5em;
  padding-top:0.2em;
  font-weight: bold;
  }


footer {
	height: 120px;
	display: block;
	background-color: orange;
	color: green;
	font-size: 1.5em;
    border-top: 1px solid black;
	border-bottom: 1px solid black;
    padding-bottom: 50px;
    margin-top: 20px; 
	margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
	
	
}

a:link {
	color: black;
}

a:visited {
	color: blue;
}

a:hover {
	background-color: #b3b3b3;
	font-weight: bold;
}

a:active {
	text-decoration: none;
}


